@import "cubeAnimation.css";

@font-face {
    font-family: 'Titillium';
    src: url(../fonts/TitilliumText22L003.otf);
}

@font-face {
    font-family: 'LanHei';
    src: url(../fonts/Lantinghei.ttc);
}

body {
    height: 100%;
    background: url(../img/bg.png);
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
    overflow: hidden;
    min-width: 320px;
}

.game-container {
    background: url(../img/color1.png) no-repeat center center;
    width: 100%;
    height: 800px;
    background-size: auto 100%;
    z-index: 100;
    position: absolute;
    display: none;
    top: 0;
}

.gameCanvas {
    width: 400px;
    height: 480px;
    margin: 0 auto;
    padding: 200px 0 0 0;
}

.gameboard {
    width: 100%;
    height: 100%;
    margin: -30px 0;
}

.gamespace {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(../img/cell.png) no-repeat center center;
    background-size: 50px 50px;
    margin: 1px;
    z-index: 99;
    opacity: 0;
}

.nextLevel {
    font-family: 'Titillium';
    position: relative;
    margin: 130px auto;
    text-align: center;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.6);
    display: none;
}

.continueGame {
    cursor: pointer;
    width: 100px;
    height: auto;
    margin: 20px;
}

.undoBtn {
    position: relative;
    width: 30px;
    height: 30px;
    background: url(../img/undo.png) no-repeat center center;
    background-size: 30px 30px;
    top: -55px;
    opacity: 0.6;
    left: 20px;
}

.background {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
}

/*image preloader*/
div#preloader {
    position: absolute;
    left: -9999px;
    top: -9999px;
}

div#preloader img {
    display: block;
}

@media print {
    div#preloader,
    div#preloader img {
        visibility: hidden;
        display: none;
    }
}

.splash-container {
    width: 100%;
    height: 100%;
    background: #0c0c0c url(../img/splashOptimized/BG.jpg) center center no-repeat;
    background-size: auto 100%;
}

.splash-tile {
    width: 60px;
    height: 60px;
    position: absolute;
    z-index: 100;

    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}

#tileV {
    background: url(../img/splashOptimized/V.png) center center no-repeat;
    background-size: 60px auto;
    top: 331px;
    left: 55px;
    -webkit-animation-name: shakeing1;
    animation-name: shakeing1;
}

#tileI {
    background: url(../img/splashOptimized/I.png) center center no-repeat;
    background-size: 60px auto;
    top: 321px;
    left: 135px;
    -webkit-animation-name: shakeing2;
    animation-name: shakeing2;
}

#tileN {
    background: url(../img/splashOptimized/N.png) center center no-repeat;
    background-size: 50px auto;
    top: 315px;
    left: 217px;
    -webkit-animation-name: shakeing3;
    animation-name: shakeing3;
}

#tileC {
    background: url(../img/splashOptimized/C.png) center center no-repeat;
    background-size: 53px auto;
    top: 314px;
    left: 305px;
    -webkit-animation-name: shakeing4;
    animation-name: shakeing4;
}

#tileI2 {
    background: url(../img/splashOptimized/I2.png) center center no-repeat;
    background-size: 55px auto;
    top: 311px;
    left: 395px;
    -webkit-animation-name: shakeing5;
    animation-name: shakeing5;
}

#tileIU {
    background: url(../img/splashOptimized/U.png) center center no-repeat;
    background-size: 56px auto;
    top: 374px;
    left: 315px;
    -webkit-animation-name: shakeing6;
    animation-name: shakeing6;
}

#tileIB {
    background: url(../img/splashOptimized/B.png) center center no-repeat;
    background-size: 52px auto;
    top: 441px;
    left: 325px;
    -webkit-animation-name: shakeing7;
    animation-name: shakeing7;
}

#tileIE {
    background: url(../img/splashOptimized/E.png) center center no-repeat;
    background-size: 52px auto;
    top: 509px;
    left: 325px;
    -webkit-animation-name: shakeing8;
    animation-name: shakeing8;
}

#tileIC1 {
    background: url(../img/splashOptimized/BlackCube1.png) center center no-repeat;
    background-size: 72px auto;
    top: 412px;
    left: 65px;
    width: 200px;
    height: 200px;
    -webkit-animation-name: shakeing9;
    animation-name: shakeing9;
}

#tileIC2 {
    background: url(../img/splashOptimized/BlackCube2.png) center center no-repeat;
    background-size: 35px auto;
    top: 489px;
    left: 405px;
    -webkit-animation-name: shakeing10;
    animation-name: shakeing10;
}

#tileIC3 {
    background: url(../img/splashOptimized/BlackCube3.png) center center no-repeat;
    background-size: 53px auto;
    top: 219px;
    left: 325px;
    -webkit-animation-name: shakeing11;
    animation-name: shakeing11;
}

#tileIC4 {
    background: url(../img/splashOptimized/BlackCube4.png) center center no-repeat;
    background-size: 53px auto;
    top: 579px;
    left: 423px;
    -webkit-animation-name: shakeing12;
    animation-name: shakeing12;
}
#tileIC5 {
    background: url(../img/splashOptimized/BlackCube5.png) center center no-repeat;
    background-size: 53px auto;
    top: 249px;
    left: 93px;
    -webkit-animation-name: shakeing12;
    animation-name: shakeing12;
}

.gameboard,
.splash-container{
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/* ----- loading ----- */

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 250px;
    height: 250px;
    margin: -125px 0 0 -125px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1001;
}
#loaderLogo{
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -200px 0 0 -75px;
    background: url("../img/VinciLogoOnlyWhite.png") center center no-repeat;
    background-size: 100px auto;
    z-index: 1002;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f3d267;

    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #c14778;

    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
    -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(0);  /* IE 9 */
    transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);  /* IE 9 */
    transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);  /* IE 9 */
    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader ,
.loaded #loaderLogo {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
    visibility: hidden;

    -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateY(-100%);  /* IE 9 */
    transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}

/* JavaScript Turned Off */
.no-js #loader-wrapper {
    display: none;
}
.no-js h1 {
    color: #222222;
}

#content {
    margin: 0 auto;
    padding-bottom: 50px;
    width: 80%;
    max-width: 978px;
}


.startGameBtn{
    cursor: pointer;
    position: absolute;
    bottom: 170px;
    width: 218px;
    height: 60px;
    background: url(../img/StartGame.png) no-repeat center center;
    background-size: 218px auto;
    left: 50%;
    margin: 0 0 0 -109px;
    z-index: 1003;

    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: shakeing13;
    animation-name: shakeing13;
}
.gameHelpBtn{
    cursor: pointer;
    position: absolute;
    bottom: 80px;
    width: 218px;
    height: 60px;
    background: url(../img/help.png) no-repeat center center;
    background-size: 218px auto;
    left: 50%;
    margin: 0 0 0 -109px;
    z-index: 1003;

    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: shakeing14;
    animation-name: shakeing14;
}
.vicinLogoSmall{
    position: absolute;
    bottom: 10px;
    width: 62px;
    height: 50px;
    background: url(../img/VinciFooterSmall.png) no-repeat center center;
    background-size: 62px auto;
    left: 50%;
    margin: 0 0 0 -31px;
}

.helperHand{
    position: absolute;
    width: 39px;
    height: 46px;
    background: url(../img/hand.png) no-repeat center center;
    background-size: 39px auto;
    z-index: 1000;
    top: 53%;
    left: 50%;
    margin: -61px 0 0 -23px;
    display: none;
    -webkit-animation-duration: 6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: liner;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: liner;
    -webkit-animation-name: handHelp;
    animation-name: handHelp;
}
