/* CSS reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: helveticaNeue;
    height: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

input {
    border: 1px solid #b0b0b0;
    padding: 3px 5px 4px;
    color: #979797;
    width: 190px;
}

address, caption, cite, code, dfn, th, var {
    font-style: normal;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before, q:after {
    content: '';
}

abbr, acronym {
    border: 0;
}

.clr {
    clear: both;
    margin: 10px 0 10px 0;
    height: 20px;
}

@font-face {
    font-family: 'Titillium';
    src: url(../fonts/TitilliumText22L003.otf);
}

body {
    height: 100%;
    background: url(../img/bg.png);
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
    overflow: hidden;
}

.game-container {
    background: url(../img/color1.png) no-repeat center center;
    width: 100%;
    height: 800px;
    background-size: auto 100%;
    z-index: 100;
    position: relative;
    display: none;
}

.gameCanvas {
    width: 400px;
    height: 480px;
    margin: 0 auto;
    padding: 200px 0 0 0;
}

.gameboard {
    width: 100%;
    height: 100%;
    margin: -30px 0;
}

.gamespace {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(../img/cell.png) no-repeat center center;
    background-size: 50px 50px;
    margin: 1px;
    z-index: 99;
    opacity: 0;
}

.nextLevel {
    font-family: 'Titillium';
    position: relative;
    margin: 130px auto;
    text-align: center;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.6);
    display: none;
}

.continueGame {
    cursor: pointer;
    width: 100px;
    height: auto;
    margin: 20px;
}

.undoBtn {
    position: relative;
    width: 30px;
    height: 30px;
    background: url(../img/undo.png) no-repeat center center;
    background-size: 30px 30px;
    top: -55px;
    opacity: 0.6;
    left: 20px;
}

.background {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
}

/*image preloader*/
div#preloader {
    position: absolute;
    left: -9999px;
    top: -9999px;
}

div#preloader img {
    display: block;
}

@media print {
    div#preloader,
    div#preloader img {
        visibility: hidden;
        display: none;
    }
}

.splash-container {
    width: 100%;
    height: 100%;
    background: #0c0c0c url(../img/splash/BG.jpg) center center no-repeat;
    background-size: auto 100%;
}

.splash-tile {
    width: 60px;
    height: 60px;
    position: absolute;
    z-index: 100;

    -webkit-animation-name: shakeing1;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-name: shakeing1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

@-webkit-keyframes shakeing1 {
    0% {margin: -3px 0 0 -4px}
    10% {margin: -6px 0 0 -1px}
    20% {margin: -7px 0 0 3px}
    30% {margin: -7px 0 0 9px}
    40% {margin: -1px 0 0 12px}
    50% {margin: 4px 0 0 7px}
    60% {margin: 7px 0 0 2px}
    70% {margin: 5px 0 0 -2px}
    80% {margin: 2px 0 0 -4px}
    90% {margin: -1px 0 0 -2px}
    100% {margin: -3px 0 0 -4px}
}

@keyframes shakeing1 {
    0% {margin: -3px 0 0 -4px}
    10% {margin: -6px 0 0 -1px}
    20% {margin: -7px 0 0 3px}
    30% {margin: -7px 0 0 9px}
    40% {margin: -1px 0 0 12px}
    50% {margin: 4px 0 0 7px}
    60% {margin: 7px 0 0 2px}
    70% {margin: 5px 0 0 -2px}
    80% {margin: 2px 0 0 -4px}
    90% {margin: -1px 0 0 -2px}
    100% {margin: -3px 0 0 -4px}
}

#tileV {
    background: url(../img/splash/V.png) center center no-repeat;
    background-size: 60px auto;
    top: 331px;
    left: 55px;
}

#tileI {
    background: url(../img/splash/I.png) center center no-repeat;
    background-size: 60px auto;
    top: 321px;
    left: 135px;
}

#tileN {
    background: url(../img/splash/N.png) center center no-repeat;
    background-size: 50px auto;
    top: 315px;
    left: 217px;
}

#tileC {
    background: url(../img/splash/C.png) center center no-repeat;
    background-size: 53px auto;
    top: 314px;
    left: 305px;
}

#tileI2 {
    background: url(../img/splash/I2.png) center center no-repeat;
    background-size: 55px auto;
    top: 311px;
    left: 395px;
}

#tileIU {
    background: url(../img/splash/U.png) center center no-repeat;
    background-size: 56px auto;
    top: 374px;
    left: 315px;
}

#tileIB {
    background: url(../img/splash/B.png) center center no-repeat;
    background-size: 52px auto;
    top: 441px;
    left: 325px;
}

#tileIE {
    background: url(../img/splash/E.png) center center no-repeat;
    background-size: 52px auto;
    top: 509px;
    left: 325px;
}